# Database Configuration
DB_ROOT_PASSWORD=root
DB_USER=transcendence
DB_PASSWORD=transcendence_pass
DB_NAME=transcendence

# Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:8080
NODE_ENV=development

# Backend Configuration
ENVIRONMENT=development
SERVER_PORT=8080
